





/**************** Hero Section *****************/


.hero img{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    opacity:0.3;
    /* background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8)); */
}

.hero .content{
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 0 100px;
}

.content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email input{
    padding:20px 250px 20px 5px ;
}
.email button{
    padding:14px 50px 17px 26px ;
    background-color: #e50914;
    font-size:20px ;
    letter-spacing: .5px;
    border-color: transparent;
    border-left: 1px solid #333  ; 
}
.email p{
    font-size: 16px;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.border{
    margin-top: -4px;
    border-bottom: 8px solid rgb(34, 34, 34);
}

@media(max-width:950px){
    .email div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap :20px
    }

    .email input{
        /* padding:18px 300px 18px 5px; */
        font-size: 19px;
    }
    .email h3{
        font-size: 20px;
    }
    .hero .content{
        gap: 0px;
        padding-top: 100px;
    }
}

@media(max-width:750px){
    .hero .content{
        gap:10px
    }
    .content h1{
        font-size:40px
    }
    .content h3{
        font-size: 17px;
    }
}





/**************** Card-2:Section-EnjoyYourTV*****************/
.section{
    width: 100%;
    padding: 70px 45px;
    /* margin: 4% 0;    */
}

.section .info-row{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 120px;
}

.section .info-row .section-column .column-info{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
   
    gap: 20px;
    padding-right: 100px;
}
.section .info-row .section-column .column-info-right{
    padding-left: 50px;
    padding-right: 0px;
}


.section .info-row .section-column .column-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .info-row .section-column .column-content video{
   width: 350px;
   position: absolute;
    top: 5%;
    left:14%;
    z-index: -11;
}

.section .info-row .section-column .column-content img{
    width: 490px;
 }

 @media(max-width: 950px){
    .section .info-row{
       flex-direction: column;
       gap:40px ;
    }

    .section .info-row .section-column .column-info{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        gap: 20px; 
        padding:0 0; 
    }

    .section .info-row .section-column .column-info h2{
        font-size: 35px;
        text-align: center;
    }

.section .info-row .section-column .column-info h3{
        font-size: 18px;
        text-align: center;
    }
    .section .info-row{
       
        margin: 0 0;
    }
 }

 /**************** Card-3:Section-Download*****************/

 .section .info-row .section-column .column-content .download-icon-box{
    
    position: absolute;
     top: 65%;
     left:20%;
     width: 60%;
     height: 100px;
     background: #000;
     border: 2px solid #ffffff40;
     border-radius: 10px;
     display: flex;
     justify-content:space-around;
     align-items: center;
 }

 .section .info-row .section-column .column-content .download-icon-box img{
    max-width: 51px !important;
    min-width: 51px;
 }

 .section .info-row .section-column .column-content .download-icon-box h4:first-child{
    font-size: 16px;
    font-weight: 600;
      
 }

 .section .info-row .section-column .column-content .download-icon-box h5:last-child{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #0071eb;  
 }

 .sectionDownload{
    padding-top: 10px;
 }


 
   




 /**************** Card-4(same as card-2):Section-WatchEverywhere*****************/
 .section .info-row .section-column .video2 video{
    width: 300px;
   
     top: 10%;
     left:20%;
    
 }



  /**************** Card-6:Section-FAQ*****************/

 
  .section h2{
    text-align: center;
    padding-bottom: 50px;
  }
.section .faqBox{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* padding:0px 150px    */
}

.section .faqBox .item{
    width: 60%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  */
}

.section .faqBox .item .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin:10px 20px,
}

.section .faqBox .item .question{
   width: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #303030;
    padding: 20px 60px 20px 30px; 
    cursor: pointer;

} 

.answer{
    background-color: #303030;

    margin-top: 1px;
   margin-bottom: 5px;
   height: 0px; 
   overflow: hidden;
} 
.answer.active{
    margin-top: 1px;
    height:100%;   
    padding: 20px 60px 20px 30px;
}





.section .faqBox .item p{
    font-size: 22px;
    
    
}

.section .email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .section .email p{
    margin-top: 40px;
  }



 




  /**************** Card-7:Section-Footer*****************/

  .footer{
    margin: 0 200px;
    padding: 70px 45px 0px 45px;
  }

  .footer .footer-lists{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;

  }

  .footer .footer-lists .footer-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 100px;
  }

  .footer .footer-lists .footer-list ul li{
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 50;
    color: #737373;
  }

  .footer .footer-lists  ul li{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 50;
    color: #737373;
  }
  .footer .footer-lists .menu .language select{
    color: #737373;
  }